%ul.nav.navbar-nav.animated
  %li.visible-xs-block.visible-sm-block
    %a.sign-in-up-btn{href: "https://gitlab.com/users/sign_in"}
      Sign In
  %li.visible-xs-block.visible-sm-block
    %a.sign-in-up-btn.is-last{href: "https://gitlab.com/users/sign_in"}
      Sign Up
  %li
    %a.subnav-toggle{data:{ target: "#downloads"}}
      Download
    %ul.subnav.collapse#downloads
      %li
        %a{href: "/free-trial"}
          Try GitLab Enterprise Edition
      %li
        %a{href: "/downloads"}
          Download GitLab Community Edition
  %li.visible-xs-block.visible-sm-block
    %a{href: "/features"}
      Features
  %li.hidden-xs.hidden-sm
    %a{href: "/features"}
      Features
  %li
    %a.subnav-toggle{data:{ target: "#products"}}
      Products
    %ul.subnav.collapse#products
      %li
        %a{href: "/gitlab-ee"}
          GitLab Enterprise Edition
      %li
        %a{href: "/downloads"}
          GitLab Community Edition
      %li
        %a{href: "/gitlab-com"}
          GitLab.com
      %li
        %a{href: "https://githost.io/"}
          GitLab Hosted
      %li
        %a{href: "/products"}
          Pricing
      %li
        %a{href: "/direction"}
          Product Direction
  %li
    %a{href: "/community"}
      Community
  %li
    %a{href: "https://gitlab.com/explore"}
      Explore
  %li
    %a{href: "https://docs.gitlab.com/"}
      Docs
  %li
    %a.subnav-toggle{data:{ target: "#resources"}}
      Resources
    %ul.subnav.collapse#resources
      %li
        %a{href: "/blog"}
          Blog
      %li
        %a{href: "/events"}
          Events
      %li
        %a{href: "/resources"}
          Additional Resources
  %li
    %a{href: "/contact"}
      Contact
  %li.hidden-xs.hidden-sm
    %button.search-icon.js-search-toggle{ type: "button", "aria-label" => "Search" }
      %i.fa.fa-search
  %li.hidden-xs.hidden-sm
    %a.sign-in-up-btn{href: "https://gitlab.com/users/sign_in"}
      Sign In
  %li.hidden-xs.hidden-sm
    %a.sign-in-up-btn.is-last{href: "https://gitlab.com/users/sign_in"}
      Sign Up
